<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 控制台标志化输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{16}:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 将日志写入日志文件 -->
    <!-- <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/spark-all-cms.log</file>
        <append>true</append>日志追加
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{32}::%method - %msg%n</pattern>
        </encoder>
    </appender> -->

    <appender name="ROLLING"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/sys.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/rookie%d{yyyyMMdd}-%i.log</fileNamePattern>
            <!-- each file capacity 10mb -->
            <maxFileSize>128MB</maxFileSize>
            <!-- keep 7 days -->
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{32}:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 如需打印sql,请开启 -->
    <logger name="com.spring.dbs.mapper" level="DEBUG"/>

    <logger name="org.apache.http" level="ERROR"/>
    <logger name="org.springboot.sample" level="ERROR"/>
    <logger name="org.springframework.web" level="ERROR"/>
    <logger name="org.springframework.context" level="ERROR"/>
    <logger name="springfox.documentation" level="ERROR"/>
    <logger name="org.springframework.jmx" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <!--        <appender-ref ref="ROLLING"/>-->
    </root>

</configuration>